
<!-- introduction to angular -->
<!-- header-component : html file -->
<app-header></app-header>

<!-- interpolation : use variable from AppComponent -->
<p>welcome, {{name}}</p>

<!-- bootstrap : location in node_modules > bootstrap & add path to angular.json > project > style > "give location of bootstrap.min.css" -->
<button type="button" class="btn btn-primary" (click)="onLogin()">Primary</button>

<!-- if condition using interpolation(visible) -->
<h2 *ngIf="visible">welcome {{name}}</h2>

<!-- for loop using interpolation(visible) -->
<div *ngIf="visible">
  <h2>programming language</h2>
  <ul>
    <li *ngFor="let item of list">{{item}}</li>
  </ul>
</div>

<!-- input form : interpolation(store)  -->
 <input type="text" [(ngModel)] = "store" placeholder="enter your name" />

 